
/*  #make all content on website being measured in border box instead of content box: counts border, padding, and margins */
* {
    box-sizing: border-box;
}
/* end# */

body {
    font-family: monospace;
    margin: 0px;
    padding: 0px;
    /* overflow: hidden;              REASON WHY IS IN COMMENT: CODE NOT WORKING YET!!! */
}

/* .main-page-container {                       REASON WHY IS IN COMMENT: CODE NOT WORKING YET!!!
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: center;
}
*/ 


/** start navbar styling **/
.navbar {
    
    background-color: #DB222A;
    text-align: left;
    color: #FDFFFC;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15), 0 3px 3px rgba(0,0,0,0.15); /* navbar shadow */
    text-transform: capitalize;
    padding: 0.2em;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar ul {
    padding: 0;
    width: 35%;
    display: inline-flex;
    justify-content: space-evenly;

}
.navbar ul li {
    margin: 0;
    display: inline-flex;
}
.navbar ul li a {
    text-decoration: none;
    color: inherit;
}

/* hover effect on navbuttons */
.navbutton:hover {
    animation-name: navhover;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes navhover {
    100% {
        background-color:#ff6666;
        color: white;
    }
}
/* end hover effect on navbuttons */ 



.navbutton {
    padding: 1px 7px 1px 7px; /* INDIVIDUAL BUTTON STYLING */
}

/** end navbar styling **/


.portfolio-welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(70deg, #5C5C5C, black); */
    background-color: black;
    background-image: url('./images/background4.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.portfolio-work-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white;
    color: black;
    text-align: center;
}

.portfolio-contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, white, #5c5c5c);
    color: white;
    text-align: center;
}
